/* vehicle-table.component.css */
.vehicle-table-container {
    width: 90%;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    
  }
  
  .mat-elevation-z8 {
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
  }
  

  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
  }
.button-icon {
    
    width: 4em;
    height: 4em;
    background-color: #e0e0e0; /* Color de fondo inactivo (gris) */
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    border-radius: 20%; /* Color del texto */
  }
  
  .button-icon.active {
    background-color: #000000; /* Color de fondo activo (negro) */
  }
  
  /* Asegúrate de que los íconos tengan el mismo color que el fondo del botón */
  .button-icon.active fa-icon {
    color: white;
  }
  
  .button-icon:not(.active) fa-icon {
    color: black;
  }
  

  /* styles.css */
.state-available {
  color: green;
  font-weight: 700;
}

.state-in-use {
  color: rgb(255, 170, 0);
  font-weight: 700;
}

.state-maintenance {
  color: red;
  font-weight: 700;
}

/* Añadir estilos para los iconos si es necesario */
.icon-available {
  color: green;
}

.icon-in-use {
  color: rgb(255, 170, 0);
}

.icon-maintenance {
  color: red;
}

.button-container{
  margin-top: 3em;
}

.search-container{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

.charts-container {
  display: flex;
  justify-content: center;
  
  height: 100%; /* Ajusta la altura según tus necesidades */
}


.update-button .fas {
  color: #1976d2; /* Color azul para el ícono de actualizar */
}

.delete-button .fas {
  color: #d32f2f; /* Color rojo para el ícono de eliminar */
}

.update-button .delete-button {
  background-color: #fff; 
}


/* Puedes agregar estilos adicionales para los botones o íconos si es necesario */
