<footer class="site-footer">
    <div class="footer-content">

      <div class="footer-brand">
        <img src="../assets/imgs/logoCompletoBlanco.png" alt="Logo de TRAÍL" />
      </div>
      
      <div class="footer-links">
        <a href="#resenas">Reseñas</a>
        <a href="#servicios">Servicios</a>
        <a href="#calificaciones">Calificaciones</a>
      </div>

      <div class="footer-social">
        <!-- Suponiendo que tienes iconos de redes sociales o imágenes -->
        <a href="link-to-facebook"
          ><img src="../assets/imgs/Facebook.png" alt="Facebook"
        /></a>
        <a href="link-to-other"
          ><img src="../assets/imgs/X.png" alt="Otra red social"
        /></a>
      </div>
      
    </div>
  </footer>