<div class="full-container">
  <app-admin-left-navbar />
  
    <div class="contenedor">
      <div class="card-container">
        <div class="card-icon">
          <img src="assets/imgs/scooterBicicleta.png" />
        </div>
        <div class="card-content">
          <h3 class="card-title">Vehículos</h3>
          <p class="card-description">
            Agrega vehículos, revisar y modifica información.
          </p>
        </div>
        <div class="card-action">
          <a routerLink="/admin-vehicle" >
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>

    

      <div class="card-container">
        <div class="card-icon">
          <img src="assets/imgs/marker_image.png" />
        </div>
        <div class="card-content">
          <h3 class="card-title">Estaciones</h3>
          <p class="card-description">
            Administra las estaciones, revisar y modifica información.
          </p>
        </div>
        <div class="card-action">
          <a routerLink="/admin-station">
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>

      <!-- <div class="card-container">
        <div class="card-icon">
          <img src="assets/imgs/horario.png" />
        </div>
        <div class="card-content">
          <h3 class="card-title">Horarios</h3>
          <p class="card-description">
            Administra horarios de apertura y cierre de estaciones.
          </p>
        </div>
        <div class="card-action">
          <a routerLink="/your-link">
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div> -->

      <!-- <div class="card-container">
        <div class="card-icon">
          <img src="assets/imgs/Estadistica.png" />
        </div>
        <div class="card-content">
          <h3 class="card-title">Estadistica</h3>
          <p class="card-description">
            Revisa estadisticas de uso de vehículos, estaciones y clientes
          </p>
        </div>
        <div class="card-action">
          <a routerLink="/your-link">
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div> -->

      <div class="card-container">
        <div class="card-icon">
          <img src="assets/imgs/users-02.png" />
        </div>
        <div class="card-content">
          <h3 class="card-title">Usuario</h3>
          <p class="card-description">
            Administra usuarios, revisar y modifica información.
          </p>
        </div>
        <div class="card-action">
          <a routerLink="/admin-user">
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  
</div>
<app-fotter />
