#map {
  width: 80%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom:  20px;
  border-radius: 20px;
}


.m-3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .full-container{
    margin-top: 3em;
  }

  /* Ajustes adicionales para los switches */
  .form-check.form-switch {
    display: flex;
    align-items: center;
  }
  
  /* Alinea verticalmente los elementos de la fila */
  .row.align-items-center {
    align-items: center;
  }
  
  /* Ajusta el margen para los labels para que no estén pegados a los inputs/selects */
  .col-md-4 label {
    margin-bottom: 0;
  }
  .form-control {
    margin-right: 0; /* Asegúrate de que los controles del formulario se alineen bien a la derecha */
  }


  .btn-custom-red {
    background-color: #DE082E;
    border-color: #DE082E;
    color: white;
  }
  
  .btn-custom-red:hover {
    background-color: #c00725; /* Un tono ligeramente más oscuro para el hover */
    border-color: #c00725;
  }
  
  .btn-custom-red:disabled {
    background: #6c757d;
    border: #6c757d;
    cursor: not-allowed;
  }


  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
  }
.button-icon {
    
    width: 4em;
    height: 4em;
    background-color: #e0e0e0; /* Color de fondo inactivo (gris) */
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    border-radius: 20%; /* Color del texto */
  }
  
  .button-icon.active {
    background-color: #000000; /* Color de fondo activo (negro) */
  }
  

  